body{
    background: grey;
}
div.container-fluid{
    margin:auto;
}
div.container-fluid>.fieldset{
    border:2px solid #000;
    margin-top:20px;
    z-index: 2;
    border-radius: 15px;
    background: #d6d7d7;
}
div.container-fluid>.fieldset>.legenda{
    width: 200px;
    margin-left: 10px;
    font-size: 25px;
    background: #fff;
    padding: 0 40px;
    border-radius: 15px;
}
 .input-group,
.form-group>input,
.form-group>.row>div>input[type="password"]{
    border:1px solid #ff5f19;
 }
.categoria-icon{
    width: 300px; 
    height:300px;
    fill: #a9a9e0;
    margin-top: 30px;


}
